@model BLL.DTO.GameDTO

<h2>Game Editing</h2>

<form asp-action="Edit" asp-controller="Game" asp-antiforgery="true">
    <div>
        <div asp-validation-summary="ModelOnly"></div>

        @Html.HiddenFor(g => g.Id)
        @Html.HiddenFor(g => g.ApplicationUserId)

        <div class="mb-3 mt-3">
            <label asp-for="Name"></label>
            <input class="form-control" asp-for="Name" placeholder="Enter name">

            <label asp-for="Description"></label>
            <textarea class="form-control" asp-for="Description" rows="3" placeholder="Enter description"></textarea>

            <label asp-for="HeaderImage">Header Image</label>
            <input type="url" class="form-control" asp-for="HeaderImage" placeholder="Enter link">

            <label asp-for="ReleaseDate">Release Date</label>
            <input type="" class="form-control" asp-for="ReleaseDate" placeholder="Enter release date">

            <label asp-for="Rating"></label>
            <input class="form-control" asp-for="Rating" placeholder="Enter rating">

            @*<label asp-for="Genre"></label>
            <input class="form-control" asp-for="Genre" placeholder="Enter genre">*@

            <label asp-for="Trailer"></label>
            <input type="url" class="form-control" asp-for="Trailer" placeholder="Enter link">

            <label asp-for="Developer"></label>
            <input class="form-control" asp-for="Developer" placeholder="Enter developer">
        </div>
        <div>
            <button type="submit" class="btn btn-warning">Edit</button>
        </div>
    </div>
</form>
