.body {
    background: #dee1e3;
}

.card {
    margin-bottom: 30px;
    max-width: 255px;
}

.form-control.mr-sm-2 {
    margin-bottom: 0;
}

.form-inline.my-2.my-lg-0 {
    padding-bottom: 25px;
}

.btn-in-card > .btn-primary {
    min-width: 111px;
}

table {
    border-collapse: separate;
    border-spacing: 50px 0;
}

td {
    padding: 5px 0;
}

.form-check-label {
    position: relative;
    left: 20px;
    top: 1px;
}

.card-img-top {
    max-height: 348px;
    max-width: 253px;
    object-fit: cover;
    padding: 5px;
    aspect-ratio: 253/344;
    /*border: 1px solid #ddd;*/
}

.card-title {
    font-weight: 600;
    height: 36px;
}

.btn-glyphicon {
    padding: 8px;
    background: #ffffff;
    margin-right: 4px;
}

.icon-btn {
    padding: 1px 15px 3px 2px;
    border-radius: 50px;
    position: absolute;
    top: 295px;
    right: 5%;
    /*    top: 64.65%;
    right: 5%;*/
}

/*    .icon-btn.btn-warning {
        padding: 1px 15px 3px 2px;
        border-radius: 50px;
        position: absolute;
        bottom: 138px;
        left: 131px;
    }*/

.remove-btn {
    left: 131px;
}

.a {
    margin: 0;
}

.drpdwn-genres {
    /*font-size: 13px;*/
    margin-left: 5px;
}

.btn-in-card > .btn-info {
    min-width: 112px;
    margin-top: 10px;
}

.carousel {
    position: absolute;
    right: 205px;
    width: 488px;
}

.game-cards {
    /*margin-top: 100px;*/
}

.carousel-control-next {
    right: -55px;
}

.carousel-control-prev {
    left: -55px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    position: absolute;
    top: 94px;
}

.carousel-control-next, .carousel-control-prev {
    width: 10%;
}

.rec {
    display: inline-block;
}
