.card {
    margin-bottom: 30px;
    max-width: auto;
}

.card-body {
    /*margin-inline: 14px;*/
    position: relative;
}

.info-table {
    display: inline-block;
    vertical-align: top;
    border-collapse: separate;
    border-spacing: 50px 0;
}

.img {
    object-fit: cover;
    height: 275px;
    width: 200px;
}

.game-description {
    margin-top: 30px;
    margin-bottom: 14px;
}

.trailer {
    margin-top: 30px;
    margin-bottom: 14px;
}

.trailer > iframe {
    display: block;
    text-align: center;
}

.comment-btn-link {
    
}

.card-header > .card-header {
/*    padding: 0.75rem 1.25rem;*/
    position: relative;
    height: 60px;
    margin-bottom: 0;
    background-color: dodgerblue;
    border-bottom: 1px solid rgba(0,0,0,.125);
    font-size: 25px;
}

.forbidden {
    text-align: center;
}