/*____________________________GENERAL*/

.card {
    margin-bottom: 30px;
    max-width: auto;
}

.card-header {
    padding-left: 2%;
    position: relative;
    height: 45px;
}

.card-body {
    position: relative;
    padding: 2%;
}

/*____________________________INFO TABLE*/

th {
    width:150px;
}

.info-table {
    position: relative;
    display: flex;
    gap: 55px;
}

.info-table-left {
    object-fit: cover;
    height: 275px;
    width: 200px;
    margin-bottom: 15px;
    display: inline-block;
}

.info-table-right {
    display: inline-block;
    max-height: 275px;
    flex-basis: 615px;
}

.rate-form {
    position: absolute;
    bottom: 0;
    max-width: 117px;
}

@media (max-width: 630px) {
    .info-table {
        flex-direction: column;
    }
    .info-table-left {
        margin-top: 25px;
        align-self: center;
    }
}

/*____________________________DESCRIPTION & TRAILER*/

.game-description {
    margin-top: 30px;
    margin-bottom: 14px;
}

.trailer {
    margin-top: 30px;
    margin-bottom: 14px;
}

    .trailer > iframe {
        display: block;
        text-align: center;
    }

/*____________________________CONTENT UNDER THE CARD*/

.restrictedComments {
    text-align: center;
}

    .restrictedComments > a {
        text-decoration: none;
    }
