.GameDescription {
    margin-top: 30px;
    margin-bottom: 14px;
}

.GameDetailTable {
    border-collapse: separate;
    border-spacing: 50px 0;
}

.Trailer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    right: 34px;
    margin-top: 37px;
}

.card {
    margin-bottom: 30px;
}

.card-body {
    margin-inline: 14px;
}

.form-check-label {
    position: relative;
    left: 20px;
    top: 1px;
}

.comment-btn-link {
    
}

.card-header > .card-header {
/*    padding: 0.75rem 1.25rem;*/
    position: relative;
    height: 60px;
    margin-bottom: 0;
    background-color: dodgerblue;
    border-bottom: 1px solid rgba(0,0,0,.125);
    font-size: 25px;
}

.forbidden {
    text-align: center;
}