@model ErrorDetails

<style>
    .access-denied-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 78vh;
        font-family: 'Microsoft JhengHei UI';
    }

    .access-denied-header {
        font-size: 6em;
        font-weight: 500;
        margin-bottom: 15px;
        text-align: center;
        color: #238fa0;
    }

    .access-denied-text {
        font-size: 2em;
        margin-top: 0;
        text-align: center;
        color: #333;
    }
</style>

<div class="access-denied-container">

    <h1 class="access-denied-header">@Model.StatusCode</h1>

    <p class="access-denied-text">@Model.Message</p>

    <a class="btn btn-outline-dark" asp-controller="Game" asp-action="Index">
        Return to Game Library
    </a>

</div>
