@model BLL.DTO.GameDTO

<h2>Game Creating</h2>

<form asp-action="CreateGame" asp-controller="AdminGame" asp-antiforgery="true">
    <div>
        <div asp-validation-summary="ModelOnly"></div>
        <div class="mb-3 mt-3">
            <label asp-for="Name"></label>
            <input class="form-control" asp-for="Name" placeholder="Enter name">

            <label asp-for="Description"></label>
            <textarea class="form-control" asp-for="Description" rows="3" placeholder="Enter description"></textarea>

            <label asp-for="HeaderImage">Header Image</label>
            <input type="url" class="form-control" asp-for="HeaderImage" placeholder="Enter URL">

            <label asp-for="ReleaseDate">Release Date</label>
            <input type="date" class="form-control" asp-for="ReleaseDate" placeholder="Enter release date">

            <label asp-for="Rating">Age Rating</label>
            <input class="form-control" asp-for="Rating" placeholder="Enter age rating">

            <label>Genre(s)</label>

            <div class="form-group">
                <div style="display: flex; align-items: baseline; gap: 15px; margin-bottom: 10px; flex-flow: row">
                    @for (int i = 0; i < ViewBag.genres.Count; i++)
                    {
                        <input type="checkbox" name="selectedGenres" value="@ViewBag.genres[i].Id" />
                        <label class="form-check-label" for="flexCheckDefault">
                            @ViewBag.genres[i].Name
                        </label>
                    }
                </div>
            </div>

            <label asp-for="Trailer"></label>
            <input type="url" class="form-control" asp-for="Trailer" placeholder="Enter URL">

            <label asp-for="Developer"></label>
            <input class="form-control" asp-for="Developer" placeholder="Enter name">
        </div>

        <div>
            <button type="submit" class="btn btn-success">Add</button>
        </div>
    </div>
</form>
